<div class="container">
  <table class="table-responsive">
    <tr>
      <!--
    <td>
    <div class="jumbotron" style="width: 350px; height: 310px;">
      <h4>Voir horaire</h4>
      <hr class="my-4">
      <p>Voir l'horaire de la semaine</p>
      <button  type="button" class="btn btn-success"  [routerLink]="'/horaireVue'">Go on this</button>

    </div>
    </td>
  -->
    <td >
    <div class="jumbotron" style="width: 350px; height: 310px;">
      <h4>Ajouter un étudiant</h4>
      <hr class="my-4">
      <button type="button" class="btn btn-success" [routerLink]="'/admin/add-student'" >Go on this</button>

    </div>
    </td>
    <td >
    <div class="jumbotron" style="width: 350px; height: 310px;">
      <h4>Ajouter un professeur</h4>
      <hr class="my-4">
      <button type="button" class="btn btn-success" [routerLink]="'/admin/add-professor'"  >Go on this</button>
    </div>
    </td>
    <td >
      <div class="jumbotron" style="width: 350px; height: 310px;">
        <h4>Ajouter un éducateur</h4>
        <hr class="my-4">
        <button type="button" class="btn btn-success" [routerLink]="'/admin/add-educator'">Go on this</button>
      </div>
      </td>
    </tr>
    </table>
  </div>
