<div class="container">
<table class="table-responsive">
  <tr>
    <!--
  <td>
  <div class="jumbotron" style="width: 350px; height: 310px;">
    <h4>Voir horaire</h4>
    <hr class="my-4">
    <p>Voir l'horaire de la semaine</p>
    <button  type="button" class="btn btn-success"  [routerLink]="'/horaireVue'">Go on this</button>

  </div>
  </td>
-->
  <td>
  <div class="jumbotron" style="width: 350px; height: 310px;">
    <h4>Affichage</h4>
    <hr class="my-4">
    <p>Affichage des fiche</p>
    <button type="button" class="btn btn-success" [routerLink]="'/horaireCreation'">Go on this</button>

  </div>
  </td>
  <td>
  <div class="jumbotron" style="width: 350px; height: 310px;">
    <h4>Encodage</h4>
    <hr class="my-4">
    <p>Encodage d'une fiche de présence</p>
    <button type="button" class="btn btn-success" [routerLink]="'/fichePresence/encodage'">Go on this</button>
  </div>
  </td>
  <td>
    <div class="jumbotron" style="width: 350px; height: 310px;">
      <h4>Modification</h4>
      <hr class="my-4">
      <p>Modification d'une fiche de présence</p>
      <button type="button" class="btn btn-success" [routerLink]="'/horaireModification'">Go on this</button>
    </div>
    </td>
  </tr>
  </table>
</div>
