<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav id="mainNavbar" class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <h2 class="navbar-brand" id="nomApp" style="text-align: center;">WeHere<h6 style="text-align: center;">by Tristan Tislair</h6></h2>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="collapsed = !this.collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbarSupportedContent"
      [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
    >
      <!-- right nav menus -->
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item"  *ngIf="authenticated">
          <a id="posBttn"  class="nav-link"> Accueil</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a id="posBttn" class="nav-link"  routerLink="/student/listeStudent"  *ngIf="authenticated && role === 'educateur'|| role === 'admin'"> Liste d'élève </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a id="posBttn"  class="nav-link"  routerLink="/fichePresence/menu"  *ngIf="authenticated && role !== 'etudiant'">Fiche de présence </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a id="posBttn"  class="nav-link"  routerLink="/admin/panel" *ngIf="authenticated && role === 'admin'" >Panel admin </a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a  id="posBttn" class="nav-link" routerLink="/login" *ngIf="!authenticated"  >Authentification</a>

          <a id="posBttn" class="nav-link" *ngIf="authenticated" (click)="logout()" style="cursor: pointer;">Se deconnecter de {{username}}</a>
        </li>


      </ul>
    </div>
  </div>
</nav>






<!--
<div class="background">
    <ul id="navbarStyle" ngbNav class="nav-tabs justify-content-center" style="border-style: none;"  >

      <button type="button" id="posBttn" class="btn btn-outline-info"   >Classe</button>
      <button type="button" id="posBttn" class="btn btn-outline-info" routerLink="/student/listeStudent" >Liste des étudiants</button>
      <button type="button" id="posBttn" class="btn btn-outline-info" routerLink="/fichePresence/menu"  >Fiche de Présence</button>
      <li ngbNavItem  class="ml-auto">
    <button  type="button"  class="btn btn-outline-success"  >Authentification</button>
    <button type="button"  class="btn btn-outline-danger">Se deconnecter</button>
     </li>
    </ul>
</div>
-->

<router-outlet></router-outlet>
